
name: Testing Central Dogma Python

on:
  push:
    branches:
       - main
  pull_request:
    branches:
       - main

jobs:
  linter:
    name: black --check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: rickstaa/action-black@v1
        id: action_black
        with:
          black_args: ". --check"

  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest, windows-latest, ubuntu-18.04, ubuntu-latest]
        python-version: [3.7, 3.8, 3.9]

    steps:
      - uses: actions/checkout@v2
      - uses: KengoTODA/actions-setup-docker-compose@main
        with:
          version: '1.29.2'

      - name: Start Central Dogma
        run: docker-compose -f "docker-compose.yml" up -d --build

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

      - name: Test with pytest
        run: |
          INTEGRATION_TEST=true pytest --cov=centraldogma ./tests

      - name: Upload to codecov
        run: codecov

      - name: Stop containers
        if: always()
        run: docker-compose -f "docker-compose.yml" down
